<include file="Public:meta" />
<include file="Public:header" />
        <!--<div id="myAlert" class="modal rorder" style="display: none">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">新密码</label>
                    <div class="controls">
                        <input type="password" name="password" id="password" value="" placeholder="请输入新密码" class="nw" />
                        <input type="hidden" name="checkpwd" id="checkpwd" value=""  class="nw"/>
                        <span id="pwmsg">*不能包含除了下划线“_”以外的特殊字符</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">确认新密码</label>
                    <div class="controls">
                        <input type="password" name="repassword" id="repassword" value="" placeholder="请确认新密码" class="nw" />
                        <input type="hidden" name="recheckpwd" id="recheckpwd" value="" class="nw"/>
                        <span id="repwmsg"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="confire">保存密码</button>
                <button type="button" class="btn btn-default" id="cancel">取消</button>
            </div>
        </div>-->
        <div id="content">
            <include file="Public:nav_bar" />
            <div id="content-header">
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon">
                                    <i class="icon-align-justify"></i>									
                                </span>
                                <h5>管理员修改</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <form name="form1" class="form-horizontal" method="post" onsubmit="return CheckAdmin()" action="__URL__/adminer_edit" >
                                    <div class="control-group">
                                        <label class="control-label">管理员ID</label>
                                        <div class="controls">
                                            <input type="text" name="opid"  id="opid" readonly="true" value="{$row['opid']}" class="nw"/> *此项不允许修改
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">管理员名称</label>
                                        <div class="controls">
                                            <input type="text" name="opname" value="{$row['opname']}" class="nw"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">管理员级别</label>
                                        <div class="controls">
                                            <input type="text" name="level" value="{$row['level']}" disabled class="nw"/> *此项不允许修改
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">管理员密码</label>
                                        <div class="controls">
                                            <input type="text" name="password" value="{$row['password']}" class="nw" autocomplete="off" />
                                            <!--<span id="pwmsg"></span>
                                            <button type="button" class="btn btn-default" id="u_pwd">修改密码</button>&nbsp;&nbsp;-->
                                        </div>
                                    </div>
                                    <!--<div class="control-group">
                                        <label class="control-label">管理员备注</label>
                                        <div class="controls">
                                            <input type="text" name="notes" value="{$row['notes']}" class="nw"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">最大终端数量</label>
                                        <div class="controls">
                                            <input type="text" name="maxuser" value="{$row['maxuser']}" disabled class="nw"/> *可通过下级提交订单修改
                                        </div>
                                    </div>-->
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-default" type="button">保存</button>&nbsp;&nbsp;
                                        <a href="__URL__/adminer_list?p={$dp}" class="btn btn-default">返回列表</a>
                                    </div>
                                </form>
                            </div>
                        </div>			
                    </div>
                </div>

            </div>
        </div>
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/jquery.uniform.js"></script>
        <script src="__PUBLIC__/js/select2.min.js"></script>
        <script src="__PUBLIC__/js/jquery.validate.js"></script>
        <script src="__PUBLIC__/js/unicorn.js"></script>
        <script src="__PUBLIC__/js/unicorn.form_validation.js"></script>
        <script type="text/javascript">
        //修改密码
            $(function () {     
                $(".modal").css("display", "none"); //默认不显示
                $("#u_pwd").click(function () {
                    $(".modal").css("display", "block");
                })
                $("#cancel").click(function () {
                    //$('#opwmsg').html("");
                    $('#pwmsg').html(""); 
                    $('#pwmsg').html("*不能包含除了下划线“_”以外的特殊字符"); 
                    $('#repwmsg').html("");
                    //$('#opassword').val("");
                    $('#password').val("");
                    $('#repassword').val("");
                    $(".modal").css("display", "none");
                })

                //密码校验      
                $('#password').bind('input propertychange', function () {
                    var pw = $('#password').val();
                    $.post("__URL__/pregadPass", { password: pw}, function (data) {
                        var obj = JSON.parse(data);   
                        //var obj = data; 
                        if(obj == 4){
                            var str = '<span id="pwdtip" style="color: red">*至少包含数字、大小写字母或"_"其中的2种，长度为6-18位</span>';
                            $('#pwmsg').html("");
                            $('#pwmsg').html(str);
                            $('#checkpwd').val("44");

                        }else{
                            var str = "";
                            $('#pwmsg').html(str);
                            $('#checkpwd').val("33");
                        }
                        
                    });
                });

                $('#repassword').blur(function(){
                    var repw = $('#repassword').val();
                    $.post("__URL__/pregadPass", {repassword: repw}, function (data) {
                        
                        var obj = JSON.parse(data);   
                        //var obj = data; 
                        if(obj == 4){
                            var str = '<span style="color: red">*两次密码输入不一致！</span>';
                            $('#repwmsg').html(str);
                            $('#recheckpwd').val("44");

                        }else{
                            var str = "";
                            $('#repwmsg').html(str);
                            $('#recheckpwd').val("33");
                        }
                        
                    });
                });

                //获取原密码
                /*$('#opassword').blur(function(){
                    var opw = $('#opassword').val();
                    var opid = $('#opid').val();
                    //var opid = $('#gopid').val();
                    $.post("__URL__/adPass", {opassword: opw,opid:opid,type:1}, function (data) {
                        
                        var obj = JSON.parse(data);   
                        //var obj = data; 
                        if(obj == 4){
                            var str = '<span style="color: red">*原密码不正确！</span>';
                            $('#opwmsg').html(str);
                            $('#ocheckpwd').val("44");

                        }else{
                            var str = "";
                            $('#opwmsg').html(str);
                            $('#ocheckpwd').val("33");
                        }
                        
                    });
                });*/

                //提交新密码
                $("#confire").click(function () {  
                    //var opw = $('#opassword').val();
                    var pw = $('#password').val();
                    var repw = $('#repassword').val();
                    var opid = $('#opid').val();
                    //var opid = $('#gopid').val();
                    /*if (opw.length == 0) {
                        alert("原密码不能为空！");
                        return false;
                    }*/
                    if (pw.length == 0) {
                        alert("新密码不能为空！");
                        return false;
                    }
                    if (repw.length == 0) {
                        alert("请确认新密码！");
                        return false;
                    }
                    /*if ($("#ocheckpwd").val()=="44") {
                        alert("原密码不正确!");
                        return false;
                    }*/
                    if ($("#checkpwd").val()=="44") {
                        alert("新密码格式不正确!");
                        return false;
                    }
                    if ($("#recheckpwd").val()=="44") {
                        alert("两次密码输入不一致!");
                        return false;
                    }
                    
                    
                    $.post("__URL__/adPass", {password: pw,repassword:repw,opid:opid,type:2}, function (data) {           
                        var obj = JSON.parse(data);   
                        //var obj = data; 
                        /*if(obj == 4){
                            var str = '<span style="color: red">*原密码不正确！</span>';
                            $('#opwmsg').html(str);
                            $('#ocheckpwd').val("44");
                            return false;

                        }
                        else */
                        if(obj == 41){
                            alert("修改失败！");
                            $('#ocheckpwd').val("44");
                            return false;
                        }
                        else{
                            //$('#ocheckpwd').val("33");
                            alert("修改成功！");
                            $('#opassword').val("");
                            $('#password').val("");
                            $('#repassword').val("");
                            $(".modal").css("display", "none");
                            return false;
                        }
                        
                    });
                });
            })


            function CheckAdmin()
            {
//                                        var totalLeft = parseInt(document.form1.totalLeft.value);
//                                        var maxuser = parseInt(document.form1.maxuser.value);
//
//                                        if (maxuser >= totalLeft)
//                                        {
//                                            alert("{$L.cbaa}!!");
//                                            return false;
//                                        }
                if (document.form1.opname.value.length == 0 ||
                        document.form1.level.value.length == 0 ||
                        document.form1.maxuser.value.length == 0)
                {
                    alert("请填写完整管理员信息!");
                    return false;
                }
                /*if ($('#ocheckpwd').val()=="44") {
                    alert("原密码不正确！");
                    return false;
                }*/


                return true;
            }
            $(function () {
                $('#backid').click(function () {
                    window.location.href = "__URL__/adminer_list/p/{$dp}";
                });

            });
        </script>
    </body>
</html>
