<include file="Public:meta" />
<include file="Public:header" />
    <div id="content">
        <include file="Public:nav_bar" />
        <div id="content-header">
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>订单提交功能</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <dl>
                                <dt>域级管理员可以通过创建订单实现添加数量和续期账号的目的</dt>
                                <dd>进入创建订单板块然后选择需要执行的功能（为避免冲突请单选一样，如需另一项功能请再次执行操作即可）</dd>
                                <dd>a.添加数量<img src="__PUBLIC__/image/s1.png" alt="" title="1"></dd>
                                <dd>提交后分控管理员选择订单列表可在此处进行审核<img src="__PUBLIC__/image/s2.png" alt="" title="2"> </dd>
                                <br>
                                <dd><img src="__PUBLIC__/image/s3.png" alt="" title="3">此处已经完成域级添加数量的申请</dd>
                                <dd>b.上交帐号<img src="__PUBLIC__/image/s9.png" alt="" title="4"></dd>
                                <dd>提交后上交管理员选择订单列表同上第二图位置进行审核，同上第三副位置完成上交账号的申请</dd>
                                <dd>c.延长账号使用时间<img src="__PUBLIC__/image/s4.png" alt="" title="5"></dd>
                                <dd>提交后系统管理员选择订单列表同上第二图位置进行审核，同上第三副位置完成延长时间的申请</dd>
                                <dt>分控级管理员可以通过创建订单实现增加授权账号的目的,方法同上</dt>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/js/select2.min.js"></script>
    <script src="__PUBLIC__/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/unicorn.js"></script>
</body>
</html>
