<include file="Public:meta" />
<include file="Public:header" />
        <div id="content">
            <include file="Public:nav_bar" />
            <div id="content-header">
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon">
                                    <i class="icon-align-justify"></i>                                  
                                </span>
                                <h5>群组功能</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <dl>
                                    <dt>域管理员可以添加群组（有群组的状态下才能添加设备）</dt>
                                    <dd>进入群组添加板块<img src="__PUBLIC__/image/s5.png" alt=""> </dd>
                                    <dd>可以进入设备列表页点击修改即可修改设备所在群组<img src="__PUBLIC__/image/s6.png" alt=""> </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/jquery.uniform.js"></script>
        <script src="__PUBLIC__/js/select2.min.js"></script>
        <script src="__PUBLIC__/js/jquery.dataTables.min.js"></script>
        <script src="__PUBLIC__/js/unicorn.js"></script>
    </body>
</html>
