    <include file="Public:meta" />
    <include file="Public:header" />
        <div id="content">
            <include file="Public:nav_bar" />
            <div id="content-header">
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon">
                                    <i class="icon-align-justify"></i>									
                                </span>
                                <h5>设备添加功能</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <dl>
                                    <dt>域级管理员和分控管理员都可以通过设备添加功能添加设备</dt>
                                    <dd>a.域级管理员添加设备<img src="__PUBLIC__/image/s7.png" alt=""></dd>
                                    <dd>进入后填制表格<img src="__PUBLIC__/image/s8.png" alt=""> </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/jquery.uniform.js"></script>
        <script src="__PUBLIC__/js/select2.min.js"></script>
        <script src="__PUBLIC__/js/jquery.dataTables.min.js"></script>
        <script src="__PUBLIC__/js/unicorn.js"></script>
    </body>
</html>
