<div id="header">
    <div id="logoimg" >
        <span id="logo_right"> <img src="__PUBLIC__/img/bdhl.png"> </span>
        <p id="zndj">|深圳百顺达科技有限公司</p>
        </div>
</div>
<div style="" id="user-nav" class="nav1 navbar navbar-inverse" >
    <ul  class="nav1 nav btn-group" id="lgouts" >
        <li  class="btn dropdown" id="menu-messages">
            <a style=" "  href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">
                <i class="icon icon-user"></i>
                <span  style="" class="text">{$LogUser}</span> <span id="num" class="label ">2</span> <b class="caret"></b></a>
            <ul  class="dropdown-menu">
                <li id="av"><a class="sAdd" title="" href="__APP__/Admin/AdLog/logout">切换账号</a></li>
                <li id="av1" ><a class="sInbox" title="" href="__APP__/Admin/AdLog/logout"> 退出</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav btn-group" id="lgout" style="width: 57px;">
        <li class="btn btn-inverse"><a title="" href="__APP__/Admin/AdLog/logout"> 退出</a></li>
    </ul>
</div>
