<include file="Public:meta" />
<include file="Public:subheader" />
    <div id="content">
        <include file="Public:subnav_bar" />
        <div id="content-header">
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>                                  
                            </span>
                            <h5>嵌套组定义</h5>
                        </div>
                        <!-- <form id="form1" name="form1" enctype="multipart/form-data" action="" method="POST" onsubmit="return CheckGroup()"> -->
                            <table class="table table-bordered table-striped m10">
                                <tr>
                                    <td width="10%" class="tableleft">选择群组</td>
                                    <!-- <td><input type="text" name="gname" value="{$row.gname}"/> *允许输入中文，但最大长度不能超过8个中文字符</td> -->
                                    <td>
                                    	<div class="controls " >
	                                        <select name="setsubgid" id="select_dis" class="selects"> 
	                                        	<volist name ="parGroup" id="v" >
                                                	<option value="{$v.gid}" >{$v.gname}&nbsp;({$v.gid}) </option>
													
                                                </volist>
										    </select>
										    <input type="hidden" name="gtype" id="gtype" value="{$gtype.type}" />
										     
										     &nbsp;&nbsp;<span>*包含其它群组的群组不能被包含。</span>
										 </div>
									</td>
                                </tr>
                                <div id="setSubgroup" >
                                <tr class="setSubgroup" >
                                    <td class="tableleft" width="10%">子群组管理</td>
                                    <input type="hidden" name="gnote" id="gnote" value=""/>  
                                    <input type="hidden" name="selVal" id="inSel" value="" /> 
                                    <input type="hidden" name="gopid" id="gopid" value="{$opid}" /> 
                                    <input type="hidden" name="subgidstr" id="subgidstr" value="{$cursubgidstr}" />
                                    <td>
                                        <div class="row">
                                            <div class="col-xs-5 col-md-5">
                                            <br/><br/>
                                                <select name="listSel" id="multiselect_to_1" class="form-control" size="8" multiple="multiple" >
                                                    <volist name="curgData" id="v">
                                                    <option value="{$v.subgid}" class="subg">{$v.gname}({$v.subgid})</option>
                                                    </volist>
                                                </select>       
                                            </div>
                                            <div class="col-xs-2 col-md-2 mtop">
                                            <br/><br/>
                                                <button type="button" id="right_All_1" class="btn btn-block"><i class="glyphicon glyphicon-forward">&lt;&lt;</i></button>
                                                <button type="button" id="right_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right">&lt;</i></button>
                                                <button type="button" id="left_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left">&gt;</i></button>
                                                <button type="button" id="left_All_1" class="btn btn-block"><i class="glyphicon glyphicon-backward">&gt;&gt;</i></button>
                                            </div>
                                            <div class="col-xs-5 col-md-5">
                                                <input type="hidden" value="{$opid}" id="accopid">
                                                <input id="gidsearch" type="text" placeholder="输入群组ID或名称搜索" >
                                                <select name="listUser" id="listGup" class="multiselect form-control" size="8" multiple="multiple" data-right="#multiselect_to_1" data-right-all="#right_All_1"
                                                        data-right-selected="#right_Selected_1" data-left-all="#left_All_1" data-left-selected="#left_Selected_1" id="searchList">
                                                    <volist name ="groupData" id="v">
                                                    <option value="{$v.gid}">{$v.gname}({$v.gid})</option>
                                                    </volist>
                                                </select>     
                                                
                                            </div>
                                        </div><br/>
                                            <span>*操作提示： a、按住Ctrl+单击多个条目+单击单箭头按钮：可同时移动选中信息 (放开Ctrl+转动鼠标滚轮或按住Ctrl+单击滚动条箭头可查找更多信息)；<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b、单击双箭头按钮：可移动列表全部信息；</span>
                                    </td>
                                </tr>
                                
                                <tr class="setSubgroup">
                                    <td class="tableleft"></td>
                                    <td>
                                    	<br/>
                                        <button type="submit" id="submit"  class="btn" type="button">保存</button>&nbsp;&nbsp;
                                        <button type="button" class="btn" name="backid" id="backid">返回列表</button>
                                        <br/><br/>
                                    </td>
                                </tr>
                                </div>
                            </table>
                       <!--  </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end-Footer-part-->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    
    <!--jquery左右选择插件-->
    <script type="text/javascript" src="__PUBLIC__/js/multiselect.js"></script>
    <script>
        $(function() {
            $('#backid').click(function() {
                window.location.href = "__URL__/group_list/p/<?php if (!empty($_GET['p'])) {echo $_GET['p'];}else{echo 1;}?>";
            });

        });
        jQuery(document).ready(function($) {
            $('.multiselect').multiselect();
        });
	</script>
    <script type="text/javascript">

        

    </script>
    <!-- 搜索 -->
    <script type="text/javascript">
	    $(function () {         
	        $('#gidsearch').bind('input propertychange', function () {
	            var gopid = $('#gopid').val();
	            var sear = $('#gidsearch').val();
	            $.post("__URL__/subGroupSearch", { sear: sear, Opid: gopid }, function (data) {
                    var str = '';
                    //var obj = JSON.parse(data);   
                    var obj = data; 
                    //alert(obj);
                    for (var i in obj) {
                        //str += "<option value='" + obj[i].uid + "'>" + obj[i].username + "(" + obj[i].account + ")" + "</option>";
                        str += "<option value='" + obj[i].gid + "'>" + obj[i].gname + "&nbsp;(" + obj[i].gid + ")" + "</option>";
                       
                    }
                    $("#listGup").empty().append(str);
                    // 删除左边有的
                    var leftO = $("#multiselect_to_1 option").map(function () {
                        return $(this).val();
                    }).get().join(",");
                    //保存到数组arr
                    arr = leftO.split(',');
                    for (var i in arr) {
                        $("#listGup option[value='" + arr[i] + "']").remove();
                    }
                });
	        });
	    });

    </script>
    
    <!-- 提交 -->
    <script type="text/javascript">
	    $(function () {         
	        $('#gidsearch').bind('input propertychange', function () {
	            var gopid = $('#gopid').val();
	            var sear = $('#gidsearch').val();
	            $.post("__URL__/subGroupSearch", { sear: sear, Opid: gopid }, function (data) {
                    var str = '';
                    //var obj = JSON.parse(data);   
                    var obj = data; 
                    //alert(obj);
                    for (var i in obj) {
                        //str += "<option value='" + obj[i].uid + "'>" + obj[i].username + "(" + obj[i].account + ")" + "</option>";
                        str += "<option value='" + obj[i].gid + "'>" + obj[i].gname + "&nbsp;(" + obj[i].gid + ")" + "</option>";
                       
                    }
                    $("#listGup").empty().append(str);
                    // 删除左边有的
                    var leftO = $("#multiselect_to_1 option").map(function () {
                        return $(this).val();
                    }).get().join(",");
                    //保存到数组arr
                    arr = leftO.split(',');
                    for (var i in arr) {
                        $("#listGup option[value='" + arr[i] + "']").remove();
                    }
                });
	        });
	    });

    </script>
    
    <!-- 提交 -->
    <script type="text/javascript">
	  	//如果第一个群组是子组，则不能设置嵌套组
	    var gtype = $("#gtype").val();
		if(gtype == 1){
			$(".setSubgroup").css('display','none');
		}else{
			$(".setSubgroup").show();
		}
		
		//下拉列表的内容改变时
	    $("#select_dis").change(function(){
	    	var gid = $(this).val();
	    	var opid = $("#gopid").val();
	    	$.post("__URL__/subGroupSelect", {gid: gid,opid:opid}, function (data) {
                var str = '';
                var subgstr = '';
                var string = '';
                //var obj = JSON.parse(data);   
                var obj = data;
                //console.log(obj.gt);
                $("#gtype").val(obj.gt);
                var gtype = $("#gtype").val();
				if(gtype == 1){
					$(".setSubgroup").css('display','none');
				}else{
					$(".setSubgroup").show();
					for (var i in obj.subg) {
	                    //str += "<option value='" + obj[i].uid + "'>" + obj[i].username + "(" + obj[i].account + ")" + "</option>";
	                    str += "<option value='" + obj.subg[i].subgid + "'>" + obj.subg[i].gname + "&nbsp;(" + obj.subg[i].subgid + ")" + "</option>"; 
	                    subgstr += obj.subg[i].subgid + "|";  //当前父组已有的子群组subgid
	                }
					$("#subgidstr").val(subgstr);
	                $("#multiselect_to_1").empty().append(str);
	                 for (var k in obj.gd) {
	                    //str += "<option value='" + obj[i].uid + "'>" + obj[i].username + "(" + obj[i].account + ")" + "</option>";
	                    string += "<option value='" + obj.gd[k].gid + "'>" + obj.gd[k].gname + "&nbsp;(" + obj.gd[k].gid + ")" + "</option>";
	                   
	                }
	                $("#listGup").empty().append(string); 
				}
                
            });
	    	
	    }); 
	    
	    
        $(function () {      
        	
            $('#submit').bind('click', function () {
            		var selVal = "";
					$("#multiselect_to_1 option").each(function(){ //遍历所有option标签						
                        var opval = $(this).val() + "|"; //获取option的value
                        selVal += opval;                  　　　				
                    });
					
					var subgidstr = $("#subgidstr").val();
					if(subgidstr == selVal){
						return false;   //如果子组未作修改不允许提交
					}
                    //console.log($("#inSel").val());
                    //var getVal = $("#inSel").val(selVal); 
           
                var select_dis = $('#select_dis').val();
                $.post("__URL__/group_subedit", { select_dis: select_dis, selVal: selVal}, function (data) {  
                    //var obj = JSON.parse(data); 
                    var obj = data; 
                    var subgstr = '';
                    //console.log(obj.msg);
                    alert(obj.msg);
                    var str = "";
                    for (var i in obj.subg) {
                        //str += "<option value='" + obj[i].uid + "'>" + obj[i].username + "(" + obj[i].account + ")" + "</option>";
                        str += "<option value='" + obj.subg[i].subgid + "'>" + obj.subg[i].gname + "&nbsp;(" + obj.subg[i].subgid + ")" + "</option>";   
                        subgstr += obj.subg[i].subgid + "|"; 
                    }
                    $("#subgidstr").val(subgstr);
                    $("#multiselect_to_1").empty().append(str);
                    //window.location.reload();
                    
                }, "json");
            });
        });
        

    </script> 
    
    
    <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/jquery.uniform.js"></script>
    <script src="__PUBLIC__/js/unicorn.js"></script>
</body>
</html>

