<include file="Public:meta" />
<include file="Public:header" />
    <input type="hidden" value="{$opid}" id="opid">
    <div class="fDiv" style="display:none;width: auto; position:absolute;z-index: 100;">
        <div class="funcDiv" id="funcDiv" style="float:left; border: #2569a8 solid 1px;width: auto;height: auto; text-align:center;line-height:50px;background-color: #f9f9f9;box-shadow:-1px -1px 1px #79abce ; color: #0088cc;">
            <span class="close" style="position:relative;float:right;top:0px; right: 6px;font-size: 10px;" >X</span> 
            <span class="fstr" style="position:relative;left: 3px;right: 5px;" ></span>
        </div>
        <span class="triangle-right" style="
            position:relative;
            float:right;
            top:1px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-left: 10px solid #50a8e6;
            border-bottom: 6px solid transparent;  ">
        </span>
    </div>

        <div id="content">
            <include file="Public:nav_bar" />
            <div id="content-header">
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon">
                                    <i class="icon-align-justify"></i>                                  
                                </span>
                                <h5>二级管理列表</h5>
                                <span style="position: relative;top:3px;">
                                <if condition="$iLevel eq 1 "> 
                                <a href="__APP__/Admin/Subadmin/subad_add" class="btn nom"><i class="icon-plus-sign"></i>添加二级管理</a>                                
                                </if>
                                </span>
                                
                                <if condition="$iLevel gt 1 "> 
                                <a href="__APP__/Admin/Admin/adminer_list" class="btn nom"><i class="icon-arrow-left"></i>返回上层管理员列表</a>
                                </if>
                                <span class="space"></span>
                                <!-- <span class="noa">授权终端数: {$maxuser} </span>&nbsp;&nbsp;
                                <span class="noa">已注册终端数: {$usednum} </span>&nbsp;&nbsp;
                                <span class="noa">可注册终端数: {$validuser} </span>&nbsp;&nbsp; -->
                               
                                <if condition="$searchc neq '' ">
                                    <if condition="$getp neq '' "> 
                                        <a href="__APP__/Admin/Subadmin/subad_list/p/{$getp}" class="btn noa btn-default"><i class="icon-arrow-left"></i> 返回上层设备列表</a>
                                    <else />
                                        <a href="__APP__/Admin/Subadmin/subad_list/p/1" class="btn noa btn-default"><i class="icon-arrow-left"></i> 返回上层设备列表</a>
                                    </if>
                                </if>
                            </div>
                            

                            <div class="widget-content nopadding">
                                <div class="dataTables_wrapper">

                                    <table class="table table-bordered data-table">
                                        <thead>
                                            <tr>
                                                <th>管理员ID</th>
                                                <th>管理员名称</th>
                                                <!-- <th>管理员级别</th> -->
                                                <th>上级管理员</th>
                                                <!-- <th>管理员密码</th> -->
                                                <th>创建时间</th>
                                                <th>备注</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <if condition="$total gt 0 "> 
                                                <volist name="list" id="v">
                                                <tr>
                                                    <td>{$v['opid']}</td>
                                                    <if condition="$iLevel neq 2 ">
                                                    <td>{$v.opname}</td>
                                                    <else />
                                                    <td><a href="__APP__/Admin/Index/device_list/opid/{$v.opid}">{$v.opname}</a></td>
                                                    </if>
                                                    
                                                    <td>
                                                        <php>
                                                            echo getAdName($v['manid']); 
                                                        </php>
                                                    </td>
                                                    
                                                    <td><php> echo substr($v['createtime'],0,10)</php></td>
                                                    <td>{$v.notes}</td>
                                                    <td>
                                                        <a href="__URL__/subad_edit/subopid/{$v.opid}/p/<?php if (!empty($_GET['p'])) {echo $_GET['p'];}else{echo 1;}?>">修改</a>
                                                        <a href="javascript:dodel('{$v.opid}');" class="del">删除</a>
                                                    </td>
                                                </tr>
                                                </volist>
                                            <else/>
                                                <tr>
                                                    <td colspan="14">无记录</td>
                                                </tr>
                                            </if>
                                        </tbody>
                                    </table>  
                                    <!-- <input type="hidden" value="{$opid}" id="opid">
                                    <div class="fDiv" style="display: none;">
                                        <div class="funcDiv" id="funcDiv" style="float:right;border: red solid 1px;width: auto;height: 50px; background-color: white;position:relative;right:23%;display: block;"> top:-330px;
                                            <span class="close" style="position:relative;top:3px;float:right;right: 5px;" >X</span> 
                                                <span class="fstr" style="position:relative;top:30px;" ></span>
                                            </div>
                                    </div> -->
                                    <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix" id="ui-widget-header" >
                                        <div class="dataTables_filter">
                                            <form action="__URL__/subad_list" name="formsearch" method="get" id="formsearch">
                                                <input type="hidden" name="getup" id="getup" value="{$_GET['p']}">
                                                <input type="text" placeholder="ID / 名称" name="searchc" id="searchc" value="">
                                                <button class="btn btn-default" type="submit" id="searcha">搜索</button> 
                                            </form>
                                        </div><br/><br/>
                                        <input type="hidden" id="fkopid" value="{$_GET['opid']}" /> <!-- 当从二级管理员登录进入此页面时需要获取opid -->
                                        <input type="hidden" id="showpn" value="{$showpn}" />
                                        <input type="hidden" id="psearchc" value="{$searchc}" />
                                        <div class="pages result  page"  style="font:18px '\5B8B\4F53', san-serif;  float: right;">{$page}</div>  
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/jquery.ui.custom.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/jquery.uniform.js"></script>
        <script src="__PUBLIC__/js/select2.min.js"></script>
        <!--<script src="js/jquery.dataTables.min.js"></script>-->
        <script src="__PUBLIC__/js/unicorn.js"></script>
        <script>        

            $(function () {
                //跳转到指定第n页
                $("#npage_qd").click(function() {
                    var pagenum = $("#npage_num").val();
                    var pagenum = Number(pagenum);
                    var showpn = $("#showpn").val();
                    var showpn = Number(showpn);
                    var psearchc = $("#psearchc").val();
                    if (isNaN(pagenum)) {
                        alert("请输入数字");
                        return false;
                    }
                    if (pagenum.length !==0) {
                        if(pagenum >= showpn){
                            pagenum = showpn;
                        }
                        if(pagenum < 1){
                            pagenum = 1;
                        }
                        if (psearchc !== '') {
                            window.location = "__URL__/subad_list/searchc/"+psearchc+"/p/"+pagenum;
                        }
                        else{
                            window.location = "__URL__/subad_list/p/"+pagenum;
                        }
                    }
                    
                });


                $("#formsearch :submit").click(function () {
                    $("#searchc").val($("#searchc").val().replace(/\s|\'|\"|\(|\)/g, ""));
                })

            })
        </script>
        <script>
            function dodel(id) {
                if (confirm("确定要删除吗？")) {
                    window.location.href = "__URL__/subad_delete/subopid/" + id;
                }
            }
        </script>
    </body>
</html>